@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
body{
    margin: 10px;
    padding: 0;
    background-color: rgba(85, 30, 166, 0.55);
}
#upload{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#flex{
    display: flex;
}
#img{
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.uploadBtn{
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 18px;
}
header{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Concert One', cursive;
    padding: 20px 20px 10px 20px;
}
#tname{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Concert One', cursive;
    padding: 10px;
}
a{
    font-size: 20px ;
    text-align: center;
}
#logout{
    text-align: center;
    padding-bottom: 35px;
}
#logout a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
form{
    text-align: center;
}
/* TABLE */
.list {
    border-collapse: collapse;
    font-family: 'Lora', serif;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.list thead tr {
    background-image: linear-gradient(to right,rgb(0, 255, 127),rgb(0, 202, 202));
    font-size: 20px;
    color: white;
    text-align: left;
}
.list  th,.list  td {
    padding: 12px 15px;
    font-size: 20px;
}
.list tbody{
    background-image: linear-gradient(to right,rgba(0, 202, 202,0.5),rgba(52, 219, 136,0.5));
}